body{
font-family:"Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
color: #1b1d26;
background-color: #a1a1a1;
}
p, h1, form{border:0; margin:0; padding:0;}
.spacer{clear:both; height:1px;}
/* ----------- My Form ----------- */
form{
margin: 0 auto;
width:400px;
padding:14px;
background-color: #ffffff;
border:solid 2px #425955;
}

label{
margin-top: 1%;
display:block;
font-weight:bold;
width: 140px;
text-align: left;
float:left;
}
#txt {
    width: 160px;
    margin-left: 28%;
}
#label {
 font-family:"Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
 font-size:12px;
 color: #1b1d26;
 margin-top: 1%;
 width: 133px;
 display:block;
 font-weight:bold;
 text-align: left;
 float:left;
}
input[type=text]{
float:left;
font-size:12px;
padding:4px 2px;
border:solid 1px gray;
width:200px;
margin:2px 0 0 10px;
}
#submit_d, #submit_b {
 clear:both;
 border:solid 1px #BFBD9F;
 width: 150px;
 margin-top: 5%;
 margin-left: 6%;
}
#submit_s {
 clear:both;
 border:solid 1px #BFBD9F;
 width: 150px;
 margin-top: 5%;
}
#encText, #decText, #ready {
 border: 1px solid gray;
 width: 196px;
 height: 1px;
}
.inner {
 font-family:"Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
 font-size:12px;
 border:solid 1px gray;
}
#double_board {
 width: 200px;
 height: 200px;
 font-family:"Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
 font-size:12px;
}
#single_board {
    width: 600px;
    height: 60px;
}
#single_board>td {
    table-layout: fixed;
    padding: 10px;
}